@import 'tailwindcss';

@plugin 'tailwindcss-motion';

@theme {
    --font-work-sans: 'Work Sans', sans-serif;
    --color-blackjack-board: var(--color-green-900);
    --color-main: var(--color-yellow-400);
    --color-secondary: white;
    --color-main-btn: var(--color-yellow-500);
}


@utility bold-by-shadow {
    text-shadow: 0 0 1px currentColor,
    0 0 1px currentColor,
    0 0 1px currentColor;
}

@utility text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

